<!DOCTYPE html>
<html lang="es">
    
<!--HEAD-->

</head>
<%- include ('./head') %>
<script src="https://kit.fontawesome.com/461a06d86e.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/stylesfooter.css">

</head>

<footer>
    <!--todo el footer SIN la barra de copyright -->
    <div class="secciones">

        <!--logo del footer-->
        <a href="/"><img class="logo" src="/image/logo.jpg" alt="Logo"></a>

        <!--secciones para navegar-->
        <section class="section1">
            <h5>Nosotros</h5>
            <p><a href="/terminos-condiciones">Términos y condiciones</a></p>
            <p><a href="/politicas-de-privacidad">Políticas de privacidad</a></p>
        </section>

        <section class="section2">
            <h5>Ayuda</h5>
            <p><a href="/faq">Preguntas frecuentes</a></p>
            <p><a href="/contacto">Contacto</a></p>
        </section>

        <section class="redes">
            <h5>Follow us</h5>
            <p><a href="https://www.instagram.com/" target="_blank">Instagram</a></p>
            <p><a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
        </section>
    </div>

    <!--barrita de copyright -->
    <p class="copyright">Copyright © 2021</p>
</footer>

</html>