<link rel="stylesheet" href="/css/stylesheader.css">

<header>
        
    <div class="contenedor">

        <!--banner animado-->
        <div class="banner">
            <ul class=lista>
                <li>¡Envío GRATIS a todo el país!</li>
                <li>10% OFF en tu primera compra</li>
                <li>Nueva colección ¡Muy pronto!</li>
            </ul>
        </div>

        <section>
            <!--menu de navegación-->
            <div>
                <input type="checkbox" class="checkbox-menu" id="checkbox-menu">
                <label for="checkbox-menu" class="checkbox-menu"><i class="fas fa-bars"></i></label>
                <nav>
                    <label for="checkbox-menu" class="checkbox-menu-salir"><i class="fas fa-times"></i></label>
                    <ul class="categorias">
                        <li class="categoria1"><a href="/producto/hombre">Hombre</a></li>
                        <li class="categoria2"><a href="/producto/mujer">Mujer</a></li>
                    </ul>
                </nav>
            </div>

            <!--logo cabezote-->
            <a href="/" class="logo"><img class="logo" src="/image/logo.jpg" alt="Logo"></a>

            <!--iconos del header-->
            <div class="iconos">
                <!--usuario/cuenta-->
                <% if (locals.isLogged) { %>
                    <a href="/cuenta/micuenta"><b><%= locals.userLogged.nombre %> </b></a>
                    <a href="/cuenta/logout">Logout</a> 
                    <% } else { %>
                <a href="/cuenta" class=""><i class="fas fa-user-alt"></i></a>
                <% } %>
                <!--barra de busqueda-->
                <input type="checkbox" id="checkbox-search" class="checkbox-search">
                <label for="checkbox-search"><i class="fas fa-search"></i></label>
                <div class="buscador">
                    <form action="" class="barra">
                        <input type="search" placeholder="¿Qué buscas?" autocomplete="on">
                        <button type="submit" name="buscar"><i class="fas fa-search"></i></button>
                        <label for="checkbox-search" class="checkbox-salir"><i class="fas fa-times"></i></label>
                    </form>
                </div>
                <!--lleva al carrito-->
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </section>
    </div>
</header>