<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Whatsapp-floating-button</title>
<link rel="stylesheet" href="/css/stylesWhatsApp.css">
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=5491135798971&text=Hola%21%20queria%20saber%02" class="whatsapp" target="_blank">
<img src="/image/whatsapp.png" class="whatsapp" alt="whatsapp">  
</a>
</body>
</html>