<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- ícono en el navegador-->
    <link rel="icon" href="image/LogoP.PNG">

    <!--traigo el css-->
    <link rel="stylesheet" href="./css/styles_carrito_compras.css" />
    <!--traigo los iconos-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <!--traigo las fuentes-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

    <!--lo hago responsive-->
    <meta name="viewport" content="width=device-wid ht, initial-scale=1" />
  </head>
  <body>
    <!-- header -->
    <header>
        
      <div class="contenedor">

          <!--banner animado-->
          <div class="banner">
              <ul class=lista>
                  <li>¡Envío GRATIS a todo el país!</li>
                  <li>10% OFF en tu primera compra</li>
                  <li>Nueva colección ¡Muy pronto!</li>
              </ul>
          </div>

          <section>
              <!--menu de navegación-->
              <div>
                  <input type="checkbox" class="checkbox-menu" id="checkbox-menu">
                  <label for="checkbox-menu" class="checkbox-menu"><i class="fas fa-bars"></i></label>
                  <nav>
                      <label for="checkbox-menu" class="checkbox-menu-salir"><i class="fas fa-times"></i></label>
                      <ul class="categorias">
                          <li class="categoria1"><a href="/producto">Hombre</a></li>
                          <li class="categoria2"><a href="/producto">Mujer</a></li>
                      </ul>
                  </nav>
              </div>

              <!--logo cabezote-->
              <a href="/" class="logo"><img class="logo" src="image/logo.jpg" alt="Logo"></a>

              <!--iconos del header-->
              <div class="iconos">
                  <!--usuario/cuenta-->
                  <a href="/cuenta" class=""><i class="fas fa-user-alt"></i></a>
                  <!--barra de busqueda-->
                  <input type="checkbox" id="checkbox-search" class="checkbox-search">
                  <label for="checkbox-search"><i class="fas fa-search"></i></label>
                  <div class="buscador">
                      <form action="" class="barra">
                          <input type="search" placeholder="¿Qué buscas?" autocomplete="on">
                          <button type="submit" name="buscar"><i class="fas fa-search"></i></button>
                          <label for="checkbox-search" class="checkbox-salir"><i class="fas fa-times"></i></label>
                      </form>
                  </div>
                  <!--lleva al carrito-->
                  <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
              </div>
          </section>
      </div>
  </header>
    <!-- producto 1 -->
    <div class="producto1">
      <img
        id="foto1"
        src="./image/carrito_compras/REMERA-CROP-JANE-NEGRA-PORTADA.jpeg"
        alt="remera"
      />
      <div class="product">
        <!-- <div class="informacion-producto"> -->
        <div class="foto_tacho">
          <h2>Polo Kendall</h2>
          <div class="tacho"><i id="tacho" class="fas fa-trash-alt"></i></div>
        </div>
        <div class="descripcion">
          <p>Color:</p>
          <p>Talla:</p>
        </div>
        <div class="cantidad_precio">
          <div class="cantidad_total">
            <i class="fas menos fa-minus"></i>
            <p>1</p>
            <i class="fas mas fa-plus"></i>
          </div>
          <div class="precio_total">
            <p>$XXXXXX</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
    <div class="finalizar-compra">
      <div class="total">
        <h1 id="total-finalizar">Total</h1>
        <p id="precio-finalizar">XXXXXXXX</p>
      </div>
    </div>
    <button class="button">Finalizar Compra</button>
  </body>
</div>
</html>
