<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
<%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/stylestyc.css">

    <body>

        <!--HEADER-->
        <%- include ('./partials/header') %>

            <main style="background: rgb(0, 0, 0); width: 100%;">

                <img
                src="/image/error404.png" alt="Camisa hombre"
                width="100%">

                    <%- include ('./partials/whatsapp') %>
            </main>

            <!--FOOTER-->
            <%- include ('./partials/footer') %>
    </body>


</html>