<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Clothing</title>
    <!-- ícono en el navegador-->
    <link rel="icon" href="image/LogoP.PNG">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesindex.css">
</head>

<body>
    <header>
        
        <div class="contenedor">

            <!--banner animado-->
            <div class="banner">
                <ul class=lista>
                    <li>¡Envío GRATIS a todo el país!</li>
                    <li>10% OFF en tu primera compra</li>
                    <li>Nueva colección ¡Muy pronto!</li>
                </ul>
            </div>

            <section>
                <!--menu de navegación-->
                <div>
                    <input type="checkbox" class="checkbox-menu" id="checkbox-menu">
                    <label for="checkbox-menu" class="checkbox-menu"><i class="fas fa-bars"></i></label>
                    <nav>
                        <label for="checkbox-menu" class="checkbox-menu-salir"><i class="fas fa-times"></i></label>
                        <ul class="categorias">
                            <li class="categoria1"><a href="/producto">Hombre</a></li>
                            <li class="categoria2"><a href="/producto">Mujer</a></li>
                        </ul>
                    </nav>
                </div>

                <!--logo cabezote-->
                <a href="/" class="logo"><img class="logo" src="image/logo.jpg" alt="Logo"></a>

                <!--iconos del header-->
                <div class="iconos">
                    <!--usuario/cuenta-->
                    <a href="/cuenta" class=""><i class="fas fa-user-alt"></i></a>
                    <!--barra de busqueda-->
                    <input type="checkbox" id="checkbox-search" class="checkbox-search">
                    <label for="checkbox-search"><i class="fas fa-search"></i></label>
                    <div class="buscador">
                        <form action="" class="barra">
                            <input type="search" placeholder="¿Qué buscas?" autocomplete="on">
                            <button type="submit" name="buscar"><i class="fas fa-search"></i></button>
                            <label for="checkbox-search" class="checkbox-salir"><i class="fas fa-times"></i></label>
                        </form>
                    </div>
                    <!--lleva al carrito-->
                    <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </section>
        </div>
    </header>
    
    <main>
        <!--banners por categoría-->
        <section class="banners">
            
            <div class="mujer">
                <a href="/producto">
                    <img src="image/home/mujer/mujer2.jpg" alt="">
                    <h3>Mujer</h3>
                </a>
            </div>

            <div class="hombre">
                <a href="/producto">
                    <img src="image/home/hombre/hombre1.jpg" alt="">
                    <h3>Hombre</h3>
                </a>
            </div>
        </section>

        <!--newsletter-->
        <section class="newsletter">
            <p class="item1">¡Suscribete a nuestro newsletter y recibí todas las novedades!</p>
            <p class="item2">Te interesaría sobre:</p>

            <!--elección de género para recibir info. por newsletter-->
            <div class="formularios">

                <form class="form1">
                    <input type="radio" name="genero" value="mujer">
                    <label for="genero">Mujer</label>
                    <input type="radio" name="genero" value="hombre">
                    <label for="genero">Hombre</label>
                    <input type="radio" name="genero" value="ambos">
                    <label for="genero">Ambos</label>
                </form>

                <!--ingreso del mail-->
                <form class="form2">
                    <input type="email" name="email" placeholder="Email">
                    <button type="submit" name="enviar">Enviar</button>
                </form>
            </div>
        </section>
    </main>


    <footer>
        <!--todo el footer SIN la barra de copyright -->
        <div class="secciones">

            <!--logo del footer-->
            <a href="/"><img class="logo" src="image/logo.jpg" alt="Logo"></a>

            <!--secciones para navegar-->
            <section class="section1">
                <h5>Nosotros</h5>
                <p><a href="">Términos y condiciones</a></p>
                <p><a href="">Políticas de privacidad</a></p>
            </section>

            <section class="section2">
                <h5>Ayuda</h5>
                <p><a href="">Preguntas frecuentes</a></p>
                <p><a href="">Contacto</a></p>
            </section>

            <section class="redes">
                <h5>Follow us</h5>
                <p><a href="https://www.instagram.com/" target="_blank">Instagram</a></p>
                <p><a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
            </section>
        </div>

        <!--barrita de copyright -->
        <p class="copyright">Copyright © 2021</p>
    </footer>
</body>


</html>