<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
<%- include ('./partials/head') %>
<link rel="stylesheet" href="/css/stylesindex.css">

<body>

    <!--HEADER-->
    <%- include ('./partials/header') %>
        
    <main>
        <!--banners por categoría-->
        <section class="banners">
            
            <div class="mujer">
                <a href="/producto">
                    <img src="image/home/mujer/mujer2.jpg" alt="">
                    <h3>Mujer</h3>
                </a>
            </div>

            <div class="hombre">
                <a href="/producto">
                    <img src="image/home/hombre/hombre1.jpg" alt="">
                    <h3>Hombre</h3>
                </a>
            </div>
        </section>

        <!--newsletter-->
        <section class="newsletter">
            <p class="item1">¡Suscribete a nuestro newsletter y recibí todas las novedades!</p>
            <p class="item2">Te interesaría sobre:</p>

            <!--elección de género para recibir info. por newsletter-->
            <div class="formularios">

                <form class="form1">
                    <input type="radio" name="genero" value="mujer">
                    <label for="genero">Mujer</label>
                    <input type="radio" name="genero" value="hombre">
                    <label for="genero">Hombre</label>
                    <input type="radio" name="genero" value="ambos">
                    <label for="genero">Ambos</label>
                </form>

                <!--ingreso del mail-->
                <form class="form2">
                    <input type="email" name="email" placeholder="Email">
                    <button type="submit" name="enviar">Enviar</button>
                </form>
            </div>
        </section>
    </main>

    <!--FOOTER-->
      <%- include ('./partials/footer') %>
</body>


</html>