<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<!--traigo el css-->
<link rel="stylesheet" href="/ccs/styles.css">
<!--traigo los iconos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        
<!--traigo las fuentes-->
    <link href="" rel="stylesheet">

<!--lo hago responsive-->
<meta name="viewport" content="width=device-wid ht, initial-scale=1">


</head>

<body>
    <banner>
        <div>10% descuento en efectivo</div>
    </banner>
<header>
    <i class="fas fa-bars"></i>
        <img class="logo" src="/image/logo.jpg" alt="Logo">
  
    
    
        <iconos>
        <i class="fas fa-user-alt"></i>
        <i class="fas fa-search"></i>
        <i class="fas fa-shopping-cart"></i>
    </iconos>

</header>

<main>






    <h4>Suscribite a nuestro newsletter</h4>
    <h4>y recibí todas las novedades. </h4>

<barra>
    <input type="text" placeholder="Email">
</barra>
</main>


    <footer>
       <h5> <img class="logo" src="/image/logo.jpg" alt="Logo"></h5>
         <p>   </p>
    </footer>
</body>


</html>