<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= userLogged.nombre %></h3>
    <img src="<%=userLogged.imagen%>">

<div>
        <button class="button-log" type="submit" name='logout'><a href="/cuenta/logout">Logout</a></button>
</div>

<div>
    <form action="/cuenta/micuenta/<%=userLogged.id%>?_method=DELETE" method="POST">
        <button class="button-log" type="submit">Eliminar usuario</button>
    </form>
</div>
<!-- whatsapp -->
<%- include ('./partials/whatsapp') %>
</body>
</html>