<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= userLogged.nombre %></h3>
    <img src="/image/users/<%=userLogged.imagen%>">

<div>
        <button class="button-log" type="submit" name='logout'><a href="/cuenta/logout">Logout</a></button>
</div>
</body>
</html>