<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
<head>
<%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/stylesPreguntas.css">
</head>

    <body>

        <!--HEADER-->
        <%- include ('./partials/header') %>

            <main>

                <section class="preguntas">
                    <h3><b>Preguntas frecuentes</b></h3>

                    <h4><b>Generales</b></h4>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">¿Cómo comprar?</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                            iusto eveniet dolor, sit
                            fugit
                            maiores impedit ducimus quisquam incidunt? Earum sapiente perspiciatis minima id maiores
                            quidem
                            dicta error rerum incidunt.
                            Modi iusto atque excepturi culpa dignissimos maxime harum officiis sed, incidunt consectetur
                            quod necessitatibus, optio aspernatur? Delectus voluptatem, aliquam ipsa dolores cum nihil
                            veritatis tenetur laboriosam pariatur temporibus, minima quibusdam.
                            Enim inventore autem mollitia laudantium dolorum officiis? Sed molestias voluptatem eaque
                            blanditiis sequi deserunt nemo sunt in asperiores ipsam modi pariatur id, deleniti
                            consequatur
                            repellat debitis ipsa unde recusandae? Perspiciatis.
                            Repellendus nostrum molestiae eius velit beatae, non ex possimus sapiente totam, dicta quos
                            corporis distinctio tempore aperiam itaque eligendi nihil repudiandae in quae dolorum!
                            Dolores
                            in autem aliquid exercitationem voluptates.</p>
                    </article>


                    <h4><b>Pagos</b></h4>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox2">
                        <label for="checkbox2"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">¿Cuáles son los medios de pago?</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                            mollitia id et eos nihil culpa
                            suscipit praesentium repellat! Illo necessitatibus, reiciendis ea ratione fugit modi sit
                            sapiente voluptatem assumenda perferendis.
                            Eos in amet voluptatum est, adipisci corrupti quia quisquam assumenda animi obcaecati quod
                            autem
                            nesciunt minima architecto, a ratione nemo vel veritatis asperiores. Temporibus nisi laborum
                            repellat. Animi, facere reprehenderit?</p>

                    </article>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox3">
                        <label for="checkbox3"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">Sobre Mercado Pago</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                            facere, expedita consequatur
                            possimus pariatur culpa similique vel voluptates, nulla odit eum alias. Incidunt, sequi quos
                            tenetur distinctio ea eveniet odit.
                            Quo aspernatur quaerat eaque excepturi exercitationem fugiat ducimus. Modi eum alias ducimus
                            dolorum sapiente iusto aliquam! Odio nostrum suscipit tempore illum. Sunt sit cum nulla
                            incidunt
                            omnis aliquid. Sed, odio?
                            Et nesciunt, neque hic natus reprehenderit exercitationem dolorem aspernatur vitae eos
                            dolore
                            sequi omnis illo excepturi minus saepe repellendus quis, alias temporibus, debitis iusto.
                            Nihil
                            repellendus deserunt iusto ipsa autem!</p>
                    </article>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox4">
                        <label for="checkbox4"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">¿Cómo sé que la compra se realizó correctamente?</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Corrupti dolorem id odit architecto
                            eaque iure, inventore debitis fugiat qui pariatur earum. Debitis, fugiat architecto! Quo
                            aspernatur minima natus modi consectetur.
                            Quod eos quae atque enim placeat eius inventore deserunt assumenda expedita soluta!
                            Repudiandae
                            officiis dignissimos eos. Facilis, est eaque. Dolores dignissimos ad et, dolorum inventore
                            delectus ex a accusantium sint.</p>

                    </article>

                    <h4><b>Mi cuenta</b></h4>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox5">
                        <label for="checkbox5"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">¿Cómo puedo recuperar mi contraseña?</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                            quasi
                            id repellat distinctio
                            tenetur, quis cupiditate quam excepturi beatae corporis quaerat velit voluptate blanditiis
                            iure,
                            sapiente placeat dolore deleniti fuga.
                            Recusandae, magnam nisi dolorem excepturi odit nostrum! Unde quam alias fuga rem a optio,
                            iste
                            odit obcaecati suscipit fugiat nam magni autem, qui, natus esse consectetur error. Officia,
                            obcaecati eos?</p>
                    </article>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox6">
                        <label for="checkbox6"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">¿Cómo puedo cambiar mis datos?</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
                            eum
                            provident, exercitationem
                            accusamus odio sint. Earum veniam hic consequatur consectetur accusantium nesciunt voluptas
                            nulla eveniet adipisci voluptates. Distinctio, quam nam?
                            Dolorum, sequi doloremque ullam vitae omnis voluptate at eos expedita corrupti eum
                            voluptatum,
                            ratione nihil illum sint quas nemo debitis nobis officiis cumque. Sequi fugit laudantium,
                            debitis id quae doloremque!</p>
                    </article>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox7">
                        <label for="checkbox7"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">¿Cómo puedo cerrar mi cuenta?</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias
                            libero a ducimus temporibus quis
                            magnam numquam, maiores et. Nulla cumque quod facilis a, facere ipsam reprehenderit placeat
                            iusto officiis iure!
                            Exercitationem, aut eius. Asperiores eaque, facilis odit porro magni quas dicta! Optio
                            dignissimos officia architecto harum, labore alias rerum quos ab omnis nulla eaque debitis
                            non
                            eius ullam voluptatum facere.</p>
                    </article>

                    <h4><b>Envíos</b></h4>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox8">
                        <label for="checkbox8"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">¿En cuánto tiempo recibiré mi pedido?</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                            debitis quia obcaecati.
                            Voluptatem, itaque, quis maiores quia reprehenderit obcaecati quam ad, natus aut vero
                            cupiditate. Asperiores inventore soluta voluptates commodi!
                            Ex, laboriosam expedita? Optio, doloribus at sapiente ipsum nobis quidem voluptate, mollitia
                            dolorem a, eligendi repellendus quae deleniti est nihil explicabo impedit accusamus eaque
                            ipsa
                            id quaerat. Temporibus, rerum veniam.</p>
                    </article>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox9">
                        <label for="checkbox9"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">¿Cómo puedo hacer segumiento de mi pedido?</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque,
                            aut
                            magnam asperiores atque
                            deleniti repudiandae esse hic a totam culpa minus. Cum fugiat excepturi voluptatum animi
                            adipisci consectetur autem alias.</p>
                    </article>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox10">
                        <label for="checkbox10"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">¿Puedo enviar mi pedido a otro país?</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat
                            sit
                            et quidem odio perferendis,
                            ipsam, numquam minima quod sequi tempore iste natus aperiam rem eaque odit quos itaque?
                            Quaerat,
                            rerum.
                            Consectetur, repellendus qui ducimus aliquam quos tenetur deleniti rem minus aut
                            voluptatibus
                            neque excepturi et eveniet minima eum magni ratione quibusdam explicabo esse? Accusamus vel
                            eius
                            necessitatibus, quam totam repellat.</p>
                    </article>

                    <h4><b>Cambios y devoluciones</b></h4>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox11">
                        <label for="checkbox11"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">¿Cómo realizo un cambio?</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                            molestiae, perferendis molestias
                            veniam vel, nemo sit hic, iste adipisci dolore sequi. Non possimus eveniet nihil cumque
                            sapiente! Quidem, fugiat corporis!
                            Numquam explicabo pariatur nesciunt quas reiciendis est quod quidem provident quam. Commodi
                            deserunt nihil accusantium rem, voluptate nisi iure, ullam necessitatibus officia labore
                            maiores
                            neque magnam unde. Fuga, quos qui.
                            Voluptatibus harum officiis repellat ut provident ab sequi illo nesciunt, laboriosam soluta
                            ducimus magnam necessitatibus mollitia voluptates obcaecati veritatis ea, odio ad placeat
                            amet!
                            Provident esse impedit natus aperiam fugiat?
                            Eaque, necessitatibus deleniti. Vero quis veritatis perferendis tempora voluptatibus dolore
                            aliquid, excepturi repudiandae? Harum, alias corporis obcaecati autem explicabo iste
                            excepturi
                            reiciendis exercitationem animi ullam veritatis sed dolore officiis cupiditate!</p>
                    </article>

                    <article class="preguntas__item">
                        <input type="checkbox" id="checkbox12">
                        <label for="checkbox12"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>
                            <h6 class="preguntas__titulo">¿Cuánto tiempo tengo para hacer el cambio?</h6>
                        </label>

                        <p class="preguntas__contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
                            dolorem assumenda id nesciunt?
                            Dolor illo laboriosam incidunt, repudiandae voluptates repellat magnam adipisci ad
                            exercitationem obcaecati nam ducimus totam doloribus nulla?</p>
                    </article>

                    <p class="preguntas__contacto">¿No encontraste lo que necesitabas?<a href="/contacto"> ¡Contáctanos!</a></p>

                </section>

                <div class="main__contenedor">
                    <article class="contenedor__imagen"> </article>
                </div> 

                   

<!-- whatsapp -->
<%- include ('./partials/whatsapp') %>
            </main>

            <!--FOOTER-->
            <%- include ('./partials/footer') %>
    </body>


</html>