<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ícono en el navegador-->
    <link rel="icon" href="image/LogoP.PNG">
    <!--traigo el css-->
<link rel="stylesheet" href="/css/StylesProductDetail.css">
<!--traigo los iconos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        
<!--traigo las fuentes-->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">   

<!--lo hago responsive-->
<meta name="viewport" content="width=device-wid ht, initial-scale=1">
</head>
<body>
    
    <header>
        
        <div class="contenedor">

            <!--banner animado-->
            <div class="banner">
                <ul class=lista>
                    <li>¡Envío GRATIS a todo el país!</li>
                    <li>10% OFF en tu primera compra</li>
                    <li>Nueva colección ¡Muy pronto!</li>
                </ul>
            </div>

            <section>
                <!--menu de navegación-->
                <div>
                    <input type="checkbox" class="checkbox-menu" id="checkbox-menu">
                    <label for="checkbox-menu" class="checkbox-menu"><i class="fas fa-bars"></i></label>
                    <nav>
                        <label for="checkbox-menu" class="checkbox-menu-salir"><i class="fas fa-times"></i></label>
                        <ul class="categorias">
                            <li class="categoria1"><a href="/producto">Hombre</a></li>
                            <li class="categoria2"><a href="/producto">Mujer</a></li>
                        </ul>
                    </nav>
                </div>

                <!--logo cabezote-->
                <a href="/" class="logo"><img class="logo" src="image/logo.jpg" alt="Logo"></a>

                <!--iconos del header-->
                <div class="iconos">
                    <!--usuario/cuenta-->
                    <a href="/cuenta" class=""><i class="fas fa-user-alt"></i></a>
                    <!--barra de busqueda-->
                    <input type="checkbox" id="checkbox-search" class="checkbox-search">
                    <label for="checkbox-search"><i class="fas fa-search"></i></label>
                    <div class="buscador">
                        <form action="" class="barra">
                            <input type="search" placeholder="¿Qué buscas?" autocomplete="on">
                            <button type="submit" name="buscar"><i class="fas fa-search"></i></button>
                            <label for="checkbox-search" class="checkbox-salir"><i class="fas fa-times"></i></label>
                        </form>
                    </div>
                    <!--lleva al carrito-->
                    <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </section>
        </div>
    </header>

<br>
<main>
<article>
    <img class="buzo" src="/image/buzo-hombre.jpg" alt="buzo">

<descripcion>
<h4><%= listaDeProductos[1].nombreDelProducto%></h4>
<h6>$12.500</h6>
<p>Buzo rustico</p>
<p>Escote redondo</p>
<p>Cuello y cintura de rib</p>
<p>Estampa en manga y frente</p>
<p>Manga larga</p>


<div class="color">
<label>Color:</label>
<label>
    <input type="radio" name="color" value="blanco">Blanco
</label>
<label>
    <input type="radio" name="color" value="negro">Negro
</label>
</div>

<div class="talle">
<label>Talle</label>
<label>
    <input type="radio" name="talle" value="XL" required>XL</label>
    <label>
        <input type="radio" name="talle" value="L" required>L</label>
        <label>
            <input type="radio" name="talle" value="M" required>M</label>
            <br>
            <button>Añadir al Carrito</button>
        </div>
 <br>
    
            <nav class="navegacion">
                <ul class="menu">
                    <li><a><button1>Envios</button1></a>
                        <ul class="submenu">
                            <li>El envio se realiza a través del correo Andreani, a domicilio o sucursal, o retiro en nuestros locales.</li>

                </ul>
            </li>
            </nav>

       
            <nav class="navegacion">
                <ul class="menu">
                    <li><a><button2>Cambios y devoluciones</button2></a>
                        <ul class="submenu">
                            <li>Podrás realizar un cambio hasta 30 días después de haber recibido tu compra. Los productos deberán encontrarse en el mismo estado en que fueron remitidos, sin haber sido utilizados, y con el embalaje y etiquetas originales en buen estado.</li>

                </ul>
            </li>
            </nav>
    </div>
</descripcion>
</article>
   
</main>



</body>
</html>