<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head') %>

        <link href="/css/stylesForm.css" rel="stylesheet">
    </head>
    <body>
    <!--HEADER-->
    <%- include ('./partials/header') %>
    
        <main>
            <h1>Registro</h1>
            <div class="tablet">
                <div class="caja2"><h5> Crear cuenta</h5>

                    <form action="/miCuenta" method="post" class="create-form">
                        <div class="control-formulario">
                        <p>
                            <label for="email" >Email *</label>
                            <input type="email" id="reg_email" name="email" class="control">
                        </p>
                        </div>
                        <div class="control-formulario">
                            <p>
                                <label for="password" >Contraseña *</label>
                                <input type="password" id="reg_password" name="password" class="control">
                            </p>
                        </div>
                        <div>
                            <p class="Policy"> Tus datos serán utilizados para ayudarte en tu experiencia de compra, y para otros motivos definidos en nuestra política de privacidad.</p> 
                        </div>
                        <div>
                            <p>
                                <button class="button-log" type="submit" >Registrarse</button>
                            </p>
                        </div>     
                    </form>
                </div>


            </div>

        </main>
    <!--FOOTER-->
    <%- include ('./partials/footer') %>

    </body>