<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head') %>

    <link href="/css/stylesForm.css" rel="stylesheet" />
  </head>
  <body>
    <!--HEADER-->
    <%- include ('./partials/header') %>

    <main>
      <h1>Registro</h1>
      <div class="tablet">
        <div class="caja2">
          <h5>Crear cuenta</h5>

          <form action="/cuenta/Registro" method="post" class="create-form">
            <div class="control-formulario">
              <p>
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  id="nombre"
                  name="nombre"
                  class="nombre"
                />
              </p>
            </div>

            <div class="control-formulario">
              <p>
                <label for="apellido">Apellido</label>
                <input
                  type="text"
                  id="apellido"
                  name="apellido"
                  class="apellido"
                />
              </p>
            </div>

            <div class="control-formulario">
              <p>
                <label for="reg_email">Email *</label>
                <input
                  type="email"
                  id="reg_email"
                  name="email"
                  class="control"
                />
              </p>
            </div>

            <div class="control-formulario">
              <p>
                <label for="contraseña">Contraseña</label>
                <input
                  type="password"
                  id="contraseña"
                  name="contraseña"
                  class="control"
                />
              </p>
            </div>

            <div class="control-formulario">
                <p>
                <p>Categoria:</p>
                    <label for="administrador" >Administrador</label>
                    <input type="radio" id="administrador" name="categoria" class="control" value="administrador">
                    <label for="cliente" >Cliente</label>
                    <input type="radio" id="cliente" name="categoria" class="control" value="cliente">
                </p>
            </div>

            <div class="control-formulario">
                <p>
                <p>Sexo:</p>
                    <label for="mujer" >Mujer</label>
                    <input type="radio" id="mujer" name="sexo" class="control" value="mujer">
                    <label for="hombre" >Hombre</label>
                    <input type="radio" id="hombre" name="sexo" class="control" value="hombre">
                </p>
            </div>

            
            <div>
              <p class="Policy">
                Tus datos serán utilizados para ayudarte en tu experiencia de
                compra, y para otros motivos definidos en nuestra política de
                privacidad.
              </p>
            </div>
            <div>
              <p>
                <button class="button-log" type="submit">Registrarse</button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </main>
    <!--FOOTER-->
    <%- include ('./partials/footer') %>
  </body>
</html>