<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
<%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/stylestyc.css">

    <body>

        <!--HEADER-->
        <%- include ('./partials/header') %>

            <main>

                <h3><b>Términos y Condiciones</b></h3>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, perspiciatis magnam enim molestias
                    eos, id laudantium a cupiditate atque excepturi ab libero nihil totam. Doloribus quis repellat
                    dolores incidunt aliquid!
                    Odio exercitationem nam accusantium tenetur quia est corrupti, cum, necessitatibus deleniti aut,
                    alias iusto neque aperiam voluptatibus qui unde molestias cumque. Doloribus molestias ipsam fuga
                    odit voluptate tempore modi quos.
                    Dolorum a impedit cum esse atque? Debitis labore laboriosam, atque consequatur cumque, dicta est
                    vero at minima molestias ullam nemo odio, repellat commodi iure? Voluptate nobis autem culpa quae
                    ipsum.
                    Aut alias, recusandae nam commodi iste expedita quod, modi quidem exercitationem asperiores velit,
                    blanditiis tempore cupiditate ad dignissimos ipsum. Reprehenderit voluptatibus maxime totam optio.
                    Voluptas quas fuga repellat modi libero!
                    Quaerat quam labore molestias deleniti, impedit quos sit delectus ducimus, voluptate illo dolorum
                    fuga. Provident maiores ipsum, ducimus quod neque autem, iusto sapiente, impedit earum cumque illum
                    tempora culpa dolore!</p>

                <h4><b>01. Modificación de los términos y condiciones</b></h4>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, voluptate voluptatum dolorum
                    commodi vitae accusantium dolore rem suscipit debitis explicabo cumque, magnam eum odio adipisci
                    unde perferendis a itaque cum!
                    Eaque, mollitia! Maiores non aut pariatur velit ratione nesciunt expedita, culpa, debitis officia
                    cumque error vitae, cupiditate fuga in. Possimus at tenetur repudiandae architecto. Dicta,
                    voluptatibus. Quod voluptates doloribus sequi?
                    Aliquid nemo iste harum omnis expedita provident, a molestiae hic ab magni nulla, rerum voluptatum
                    repellendus quaerat eos possimus velit assumenda eum voluptas voluptate sapiente culpa eius, dolore
                    natus. Consequuntur!</p>

                <h4><b>02. Interrupción del servicio – Exclusión de responsabilidad</b></h4>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet doloremque alias nihil. Officiis
                    nobis, quis tempora sequi recusandae rem numquam amet inventore illo consequatur reiciendis fugiat
                    sapiente tenetur dignissimos mollitia.
                    Itaque eveniet, voluptate quibusdam esse excepturi delectus quia consequuntur iure, officia eligendi
                    reprehenderit ab soluta modi ex, sequi animi iste commodi. Delectus optio doloremque numquam eius
                    eos iste officia blanditiis?</p>

                <h4><b>03. Registración</b></h4>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet doloremque alias nihil. Officiis
                    nobis, quis tempora sequi recusandae rem numquam amet inventore illo consequatur reiciendis fugiat
                    sapiente tenetur dignissimos mollitia.
                    Itaque eveniet, voluptate quibusdam esse excepturi delectus quia consequuntur iure, officia eligendi
                    reprehenderit ab soluta modi ex, sequi animi iste commodi. Delectus optio doloremque numquam eius
                    eos iste officia blanditiis?</p>

                <h4><b>03. Capacidad</b></h4>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet doloremque alias nihil. Officiis
                    nobis, quis tempora sequi recusandae rem numquam amet inventore illo consequatur reiciendis fugiat
                    sapiente tenetur dignissimos mollitia.
                    Itaque eveniet, voluptate quibusdam esse excepturi delectus quia consequuntur iure, officia eligendi
                    reprehenderit ab soluta modi ex, sequi animi iste commodi. Delectus optio doloremque numquam eius
                    eos iste officia blanditiis?</p>

                <h4><b>04. Cookies y bases de datos</b></h4>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate voluptatum harum porro ut
                    exercitationem? Reprehenderit repudiandae corporis maiores odit ducimus aspernatur similique vero.
                    Minus blanditiis temporibus eaque, odit nam est.
                    Quis nemo animi qui ipsa. Iste quas, molestias repudiandae earum saepe nihil non accusamus modi
                    natus laborum. Nisi, fugiat voluptas non eos doloribus totam. Ex aliquam omnis rem dignissimos
                    molestias!
                    Nesciunt sint dicta odio, saepe ratione vero soluta unde. Eum, nihil porro? Velit commodi natus
                    autem dignissimos officia, error accusamus cupiditate esse! Nobis, minus iste! Doloribus laborum
                    corporis deleniti omnis!
                    Culpa commodi iure provident accusamus, itaque maiores maxime officiis nihil praesentium explicabo
                    quas assumenda et consequatur reiciendis sed unde illum necessitatibus mollitia nostrum rem. Hic
                    quae odio unde odit tenetur.
                    Dignissimos soluta id excepturi quam eos harum alias itaque. Unde suscipit fugiat nam quod nulla quo
                    sunt mollitia in, atque corrupti pariatur iste facilis eaque corporis totam error accusantium nobis?
                    Numquam sed corporis laborum nisi magnam perferendis, delectus aperiam. Voluptates est reiciendis
                    omnis quibusdam esse voluptatum aut neque eum reprehenderit, sunt inventore ipsam, perspiciatis
                    eligendi asperiores provident ipsa, voluptate obcaecati!</p>

                <h4><b>05. Garantía de los productos</b></h4>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet doloremque alias nihil. Officiis
                    nobis, quis tempora sequi recusandae rem numquam amet inventore illo consequatur reiciendis fugiat
                    sapiente tenetur dignissimos mollitia.
                    Itaque eveniet, voluptate quibusdam esse excepturi delectus quia consequuntur iure, officia eligendi
                    reprehenderit ab soluta modi ex, sequi animi iste commodi. Delectus optio doloremque numquam eius
                    eos iste officia blanditiis?</p>

                <h4><b>06. Disponibilidad de los productos</b></h4>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet doloremque alias nihil. Officiis
                    nobis, quis tempora sequi recusandae rem numquam amet inventore illo consequatur reiciendis fugiat
                    sapiente tenetur dignissimos mollitia.
                    Itaque eveniet, voluptate quibusdam esse excepturi delectus quia consequuntur iure, officia eligendi
                    reprehenderit ab soluta modi ex, sequi animi iste commodi. Delectus optio doloremque numquam eius
                    eos iste officia blanditiis?</p>

                <h4><b>07. Medios de pago</b></h4>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum debitis magni natus consectetur
                    quo nihil voluptatum quasi, cumque possimus quae quia sunt eaque odit temporibus. Exercitationem
                    corporis labore velit.
                    Error tempore quas dolor animi! Blanditiis cupiditate omnis vel culpa saepe enim, quaerat velit
                    nesciunt perferendis nemo rerum, sapiente, eius amet laboriosam iste? Ex ullam, laborum distinctio
                    ut consectetur obcaecati.</p>

                <h4><b>08. Devoluciones</b></h4>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet doloremque alias nihil. Officiis
                    nobis, quis tempora sequi recusandae rem numquam amet inventore illo consequatur reiciendis fugiat
                    sapiente tenetur dignissimos mollitia.
                    Itaque eveniet, voluptate quibusdam esse excepturi delectus quia consequuntur iure, officia eligendi
                    reprehenderit ab soluta modi ex, sequi animi iste commodi. Delectus optio doloremque numquam eius
                    eos iste officia blanditiis?</p>

                <h4><b>09. Tiempos de entrega</b></h4>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum debitis magni natus consectetur
                    quo nihil voluptatum quasi, cumque possimus quae quia sunt eaque odit temporibus. Exercitationem
                    corporis labore velit.
                    Error tempore quas dolor animi! Blanditiis cupiditate omnis vel culpa saepe enim, quaerat velit
                    nesciunt perferendis nemo rerum, sapiente, eius amet laboriosam iste? Ex ullam, laborum distinctio
                    ut consectetur obcaecati.</p>

                <h4><b>10. Gastos de envío</b></h4>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure ipsum debitis magni natus consectetur
                    quo nihil voluptatum quasi, cumque possimus quae quia sunt eaque odit temporibus. Exercitationem
                    corporis labore velit.
                    Error tempore quas dolor animi! Blanditiis cupiditate omnis vel culpa saepe enim, quaerat velit
                    nesciunt perferendis nemo rerum, sapiente, eius amet laboriosam iste? Ex ullam, laborum distinctio
                    ut consectetur obcaecati.</p>

                <h4><b>11. Promociones</b></h4>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa ex quod eius soluta! Non nulla sint,
                    quod voluptatibus aperiam praesentium accusantium consequatur ex incidunt molestias molestiae
                    excepturi ipsam corrupti accusamus!
                    Illum quam vitae doloremque repudiandae ea labore, explicabo excepturi? Ipsum delectus modi
                    blanditiis exercitationem alias sit nulla asperiores maiores vitae provident quam, quo eveniet
                    voluptate fugiat nostrum ut earum nobis.
                    Excepturi, est sunt cupiditate itaque culpa expedita facere. Laboriosam debitis nam a quos
                    voluptatibus quibusdam eius veniam perspiciatis, deleniti, excepturi repudiandae ea iure ipsa.
                    Assumenda deleniti cum totam voluptates sequi?</p>
                    <%- include ('./partials/whatsapp') %>
            </main>

            <!--FOOTER-->
            <%- include ('./partials/footer') %>
    </body>


</html>