* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

main h6{
 font-weight: bold;
 font-size: 100%;
 margin-left: 10px;
 border-bottom: 25px;
align-items: stretch;
}



body {
  width: 100%;
  display:block;
}


main{
  background-color: white;
    color: black;
   margin-bottom: 10px;
   margin-top: 150px;
   display: flex;
}


main .fa-bars{
color: gray;
}

main h4{
  text-align:left;
  margin-left: 10px;
}


main article p{
  margin-left: 10px;
  border-bottom:25px;
  align-items: stretch;
}
main .buzo{
  width:100%;

}

main label{
margin-left: 10px;
}


main button{
    margin-left: 20px;
    margin-top: 10px;
    transition: all 400ms;
    width: 90%;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 30px;
    
   }
  
main button:hover{
        box-shadow: 0px 0px 1px 1px rgb(156, 154, 154);
        
}


main descripcion {
    margin-bottom: 10px;
  }

main .color{
    margin-bottom: 10px;
}
main .talle{
    margin-bottom: 20px;
}


.acordeon input{
  display: none;
}
.acordeon__titulo{
  display: block;
  padding: 4px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  font-weight: bold;
  text-align: center;
  margin-right: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}


.acordeon__contenido{
  height: 0;
  overflow: hidden;
  transition: all 0.8s ;
}

.acordeon input:checked ~ .acordeon__contenido{
  height: auto;
  margin-bottom: 5px;
}



@media (min-width:426px) {
  
  main article {
  
    display: flex;
  }
  main  h4{
    text-align:right;
    margin-right: 10px;
  }
  
 

  
   
 main descripcion p{
     margin:10px 0px ;
   }

  main button{
    margin-left: 18px;
    margin-top: 10px;
    transition: all 400ms;
    width: 90%;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 30px;
    
   }

  main button:hover{
        box-shadow: 0px 0px 1px 1px rgb(156, 154, 154);
  }

  main h4{
  text-align: start;
  font-size: 30px;
}


  main .color{
    margin-top: 30px;
    margin-bottom: 30px;
     
 }
  main .talle{
     margin-bottom: 30px;
     
 }


  main .buzo{
width: 50%;

}


  main article p{
  margin-left: 10px;
  border-bottom:25px;
  align-items: stretch;
}

}