* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display:block;
}

i{
  font-size: 1.3rem;
  color:#303028;
}

a{
  text-decoration: none;
  color: black;
}

a, p{
  font-weight: 500;
}

i, a:hover{
  cursor: pointer;
}


/*MAIN*/
main{
  margin-top: 98px;
}

.mujer{
  position: relative;
}

.mujer a{
  display: block;
  margin: auto;
  margin-bottom: -2px;
}

.mujer img{
  width: 100%;   
  height: 100%;
}

.mujer h3{
  position: absolute;
  width: 100%;
  top: 42%;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.075); 
}

.hombre{
  position: relative;

}

.hombre a{
  display: block;
  margin: auto;
}

.hombre img{
  width: 100%;   
}

.hombre h3{
  position: absolute;
  width: 100%;
  top: 42%;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.075); 
}

.newsletter{
  min-width: 80%;
  text-align: center;
  display: block;
  margin: auto;
  padding: 20px;
}

.newsletter .item1{
  font-size: 1.1rem;
  font-weight: bold;
  color: #303028;
  padding: 0 0 18px 0;
}

.newsletter .item2{
 font-size: 0.9rem;
 font-weight: bold;
 color: #3b3b31;
 padding: 0 0 10px 0;
 
}

.formularios{
  font-size: 0.8rem;
  font-weight: normal;
  color: black;
}

.form1{
  margin-bottom:  4px;
}

.form1 label{
   padding: 0 5px 0 0;  
}

.form2{
  padding: 5px 0;
  width:100%;
  margin: auto;
  position: relative;
}

.form2 input{
  width: 100%;
  height: 40px;
  font-size: 0.7rem;
  padding: 0 8px;
  border: rgb(221, 218, 218) 0.2px solid;
}

button{
  background-color: transparent;
  border: none;
  position: absolute;
  right:0;
  top: 30%;
  padding: 1px 8px;
  font-size: 0.8rem;
  font-weight: bold;
}


@media (max-width: 319px) {

  i{
    font-size: 1rem;
  }

  main{
    margin-top: 88px;
  }  
}


@media (min-width: 426px) {

.iconos i{
    padding: 0 0 0 15px;
 }
  
.banners{
    display: flex;
  }
  
.mujer {
  width:50%;
  height:50%;
  position: relative;
 }

.mujer img, .hombre img{
  width:100%; 
 }

.hombre{
  width:50%;
  position: relative;
 }

.form2{
  max-width:70%;
 }
}


@media (min-width:768px) {

  .mujer h3{
    top: 45%;
    font-size: 2.9rem;
    
  }
  
  
  .hombre h3{
    top: 45%;
    font-size: 2.9rem;
    
  }

  .newsletter{
    width: 60%;

  }

  .newsletter .item1{
    text-align: center;
    margin: auto;
    padding: 0 0 23px 0;
  }

  .form2{
    max-width:60%;
  
  }
  
}

@media (min-width:1023px) {

  .iconos i{
    padding: 0 0 0 20px;
  }

  .mujer h3{
    top: 45%;
    font-size: 2.9rem;
    
  }
  
  
  .hombre h3{
    top: 45%;
    font-size: 2.9rem;
    
  }

  .newsletter{
    width: 60%;

  }

  .newsletter .item1{
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 0 0 23px 0;
  }

  .form2{
    max-width:60%;
  
  }
}