* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

/*HEADER*/
header{
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  }
  
  header .contenedor {
    position: relative;
    background-color: white;
  }
  
  header .banner{
    background-color: black;
    overflow: hidden;
    height: 30px;
    display: block;
    margin: auto;
    width: 100%;
  }
  
  header .lista{
    color:black;
    text-align: center;
    line-height: 30px;
    animation: animacion 10s 0.5s infinite;
  }
  
  header .lista li{
    font-size: 0.9rem;
    list-style: none;
    border-bottom: solid 20px black;
  }
    
  /*animación del banner header*/
  @keyframes animacion {
    0% {
      transform: translateY(15%);
    }
  
    10%{
      transform: translateY(0%);
      color: white;
    }
  
    20% {
      transform: translateY(0%);
      color: white;
    }
  
    30%{
      transform: translateY(-15%);
      color:black;
    } 
  
    40% {
      transform: translateY(-33.5%);
      color: white;  
    }
    
    55%{
      transform: translateY(-33.5%);
      color:white;
    }
  
    65%{
      transform: translateY(-50%);
      color: black;
    }
  
    75%{
      transform: translateY(-67%);
      color: white
    }
  
    90%{
      transform: translateY(-67%);
      color:white;
    }
  
    100%{
      transform: translateY(-85%);
    }
  }
  
  header section{
    display: flex;
    width: 100%;
    padding: 15px 12px 15px 10px;
  }
  
  header .checkbox-menu i{
    margin: 10px 5px;
  }
  
  header nav{
    visibility: hidden;
    height: 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 50%; 
    background-color: white;
    left: 0;
    transition: all 0.7s linear; 
  }
  
  header nav li{
    width: 0%;
    list-style: none;
    border-bottom: none;
    padding:20px;
    transition: all 0.7s linear;
  }
  
  header nav li a{
    color: none;
    font-size: 0px;
    transition: all 0.5s;
  }
  
  header nav .fa-times{
    position: absolute;
    font-size:0px;
    visibility: hidden;
    background-color: none;
    color: transparent;
    transition: color 1.8s;
  }
  
  #checkbox-menu{
    display: none;
  }
  
  header .checkbox-menu:checked ~ nav .fa-times{
    visibility: visible;
    position: absolute;
    top: 0px;
    right:0;
    padding-top: 15px;
    padding-right: 10px;
    font-size: 1.3rem;
    color:#303028;
  }
  
  header .checkbox-menu:checked ~ nav li{
    border-bottom: rgb(221, 218, 218) 0.5px solid;
    width: 100%;
  }
  
  header .checkbox-menu:checked ~ nav li a{
    color: black;
    font-size: 1rem
  }
  
  header .checkbox-menu:checked ~ nav{
    visibility: visible;
    padding: 10px 5px 0 5px;
    height:50vh;
    border-top: 0.5px black solid;
  }
  
  header .logo{
    width: 130px;
  }
  
  header .logo{
    margin: 0 5px; 
  }
  
  header .iconos{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    font-weight: lighter;
    align-items: center;
  }
  
  header .iconos i{
    padding: 0 0 0 10px;
  }
  
  #checkbox-search{
    display: none;
  }
  
  header .buscador{
   position: absolute;
   visibility: hidden;
   background-color: transparent;
   right: 0;
   top: 95%;
   width: 0%;
   height: 30px;
   z-index:1;
   transition: width 0.9s linear;
  }
  
  header .buscador .barra{
    position: relative;
   }
  
  header .barra input{
    border:none;
    width: 0%;
    outline: none;
    visibility: hidden;
    background-color:transparent;
    font-size: 0px;
    padding-left: 20px;
    transition: width background-color 0.9s; 
  }
  
  header .checkbox-salir i{
    position: absolute;
    right:0px;
    top: 2px;
    font-size:0;
  }
  
  header .buscador button {
    position: absolute;
    left: 0px;
    padding: 0 3px 0px 0px;
    top: 15%;
  }
  
  header .buscador button i {
    padding: 0px;
    font-size: 0;
    color: transparent;
    background-color: transparent;
    transition: color 1s;
  }
  
  .checkbox-search:checked ~ button {
    left: 0px;
  }
  
  .checkbox-search:checked ~ .buscador i{
    background-color:white;
    color:#303028;
    visibility: visible;
    font-size: 1rem;
  }
  
  .checkbox-search:checked ~ .buscador input{
    visibility: visible;
    font-size: 0.9rem;
    width: 100%;
  }
   
  .checkbox-search:checked ~ .buscador{
    border: rgb(221, 218, 218) 0.5px solid;
    background-color: white;
    visibility: visible;
    width: 100%;
    height: 50px;
    padding: 15px 10px;
  }


body {
  width: 100%;
  display:block;
}

.lista li{
  font-size: 0.9rem;
  list-style: none;
  border-bottom: solid 20px black;
}


.lista{
  margin: auto;
  color:black;
  text-align: center;
  line-height: 30px;
  animation: animacion 10s 0.5s infinite;
}






main{
  background-color: white;
    color: black;
   margin-bottom: 10px;
   margin-top: 150px;
}



.fa-bars{
color: gray;
}

h4{
  text-align:left;
  margin-left: 10px;
}

barra{
  margin-left:42%;
  
}

article p{
  margin-left: 10px;
  border-bottom:25px;
  align-items: stretch;
}
.buzo{
  width:425px;
}

label{
margin-left: 10px;
}
select{
  margin-left: 10px;
  width: 80%;
  height: 20px;
  text-align: center;
}
button{
    margin-left: 20px;
    margin-top: 10px;
    transition: all 400ms;
    width: 90%;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 30px;
    
   }
   button:hover{
        box-shadow: 0px 0px 1px 1px rgb(156, 154, 154);
        
   }

copyright{
  text-align: center;
  color: gray;
  font-size: 15px;
  margin: 2px;
}

.navegacion{
  list-style: none;

}
.menu a{
  text-decoration:none ;
}
.menu > li{
  display: relative;
  padding: 5px;
  list-style: none;
}
.menu li:hover{
transition: all .3s;
}
.submenu{
  opacity: 0;
  transition: 400ms;
  text-decoration: none;
  list-style: none;
  
}


.menu:hover .submenu{
visibility: visible;
opacity: 1;
}

 descripcion {
    margin-bottom: 10px;
  }

  .color{
    margin-bottom: 10px;
}
.talle{
    margin-bottom: 20px;
}

@media (min-width:426px) {
  
   header i{
     display: flex;
     justify-content: space-between;
   }
  
  
  
  article {
  
    display: flex;
  }
  h4{
    text-align:right;
    margin-right: 10px;
  }
  
  select{
    display: flex;
width: 80%;
height: 20px;
text-align: center;
  }

  
   
   descripcion p{
     margin:10px 0px ;
   }

   button{
    margin-left: 18px;
    margin-top: 10px;
    transition: all 400ms;
    width: 90%;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 30px;
    
   }
   button:hover{
        box-shadow: 0px 0px 1px 1px rgb(156, 154, 154);
  }
h4{
  text-align: start;
  font-size: 30px;
}

footer{
  display: flex;
  justify-content: space-around;
  height: 150px;
} 

 .color{
    margin-top: 30px;
    margin-bottom: 30px;
     
 }
 .talle{
     margin-bottom: 30px;
     
 }
 button1{
     
border-top: solid black 1px;
border-bottom: black solid 1px;
margin-top: 0px;
margin-bottom: 0px;
 }
 button2{
    
border-top: solid black 1px;
border-bottom: black solid 1px;
margin-top: 0px;
margin-bottom: 0px;
}

.buzo{
    width:50%;
    height: 50%;
}

.submenu{
    text-align: ju;
}
article p{
  margin-left: 10px;
  border-bottom:25px;
  align-items: stretch;
}
header .logo{
  width: 170px;
 }

 header section{
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 20px 25px 20px 15px;
}

header .checkbox-menu{
  display: none;
}

header .checkbox-menu:checked ~ nav{
  height: 0;
  border-top: none;
  display: flex
}

header .checkbox-menu:checked ~ nav li{
border-bottom: none;
padding: 0px 20px 0px 0px;  
}

header .checkbox-menu:checked ~ nav li a{
border-bottom: none;
}

header .logo{
  order: -1;
  margin-right: 20px;
 }  

header nav {
    visibility: visible;
    width: 100%;
    position: relative;
    flex-grow: 1;
    padding: 0 0 17px 0;       
 }

header nav .fa-times{
  display: none
 }

header nav ul{
    display: flex;
 }

header nav li{
    align-self: center;
    width: 100%;
    padding: 0 20px 0px 0;
    background-color: white;
 }

header .categorias .categoria1 a, .categorias .categoria2 a{
  text-decoration: none;
  color: black ;
  font-size: 1rem;
  font-weight: bold;
 }

header .iconos i{
    padding: 0 0 0 15px;
 }
  
header .banners{
    display: flex;
  }
  

  
}