* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



header {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
}

.contenedor {
  position: relative;
  background-color: white;
}

.banner {
  background-color: black;
  overflow: hidden;
  height: 30px;
  display: block;
  margin: auto;
  width: 100%;
}

.lista {
  color: black;
  text-align: center;
  line-height: 30px;
  animation: animacion 10s 0.5s infinite;
}

.lista li {
  font-size: 0.9rem;
  list-style: none;
  border-bottom: solid 20px black;
}

/*animación del banner header*/
@keyframes animacion {
  0% {
    transform: translateY(15%);
  }

  10% {
    transform: translateY(0%);
    color: white;
  }

  20% {
    transform: translateY(0%);
    color: white;
  }

  30% {
    transform: translateY(-15%);
    color: black;
  }

  40% {
    transform: translateY(-33.5%);
    color: white;
  }

  55% {
    transform: translateY(-33.5%);
    color: white;
  }

  65% {
    transform: translateY(-50%);
    color: black;
  }

  75% {
    transform: translateY(-67%);
    color: white;
  }

  90% {
    transform: translateY(-67%);
    color: white;
  }

  100% {
    transform: translateY(-85%);
  }
}

header section {
  display: flex;
  width: 100%;
  padding: 15px 12px 15px 10px;
}

.checkbox-menu i {
  margin: 10px 5px;
}

header nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  width: 50%;
  background-color: white;
  left: 0;
  transition: all 0.7s linear;
}

nav li {
  width: 0%;
  list-style: none;
  border-bottom: none;
  padding: 20px;
  transition: all 0.7s linear;
}

nav li a {
  color: none;
  font-size: 0px;
  transition: all 0.5s;
}

nav .fa-times {
  position: absolute;
  font-size: 0px;
  visibility: hidden;
  background-color: none;
  color: transparent;
  transition: color 1.8s;
}

#checkbox-menu {
  display: none;
}

.checkbox-menu:checked ~ nav .fa-times {
  visibility: visible;
  position: absolute;
  top: 0px;
  right: 0;
  padding-top: 15px;
  padding-right: 10px;
  font-size: 1.3rem;
  color: #303028;
}

.checkbox-menu:checked ~ nav li {
  border-bottom: rgb(221, 218, 218) 0.5px solid;
  width: 100%;
}

.checkbox-menu:checked ~ nav li a {
  color: black;
  font-size: 1rem;
}

.checkbox-menu:checked ~ nav {
  visibility: visible;
  padding: 10px 5px 0 5px;
  height: 50vh;
  border-top: 0.5px black solid;
}

.logo {
  width: 130px;
}

header .logo {
  margin: 0 5px;
}

header .iconos {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-weight: lighter;
  align-items: center;
}

.iconos i {
  padding: 0 0 0 10px;
}

#checkbox-search {
  display: none;
}

.buscador {
  position: absolute;
  visibility: hidden;
  background-color: transparent;
  right: 0;
  top: 95%;
  width: 0%;
  height: 30px;
  z-index: 1;
  transition: width 0.9s linear;
}

.buscador .barra {
  position: relative;
}

.barra input {
  border: none;
  width: 0%;
  outline: none;
  visibility: hidden;
  background-color: transparent;
  font-size: 0px;
  padding-left: 20px;
  transition: width background-color 0.9s;
}

.checkbox-salir i {
  position: absolute;
  right: 0px;
  top: 2px;
  font-size: 0;
}

.buscador button {
  position: absolute;
  left: 0px;
  padding: 0 3px 0px 0px;
  top: 15%;
}

.buscador button i {
  padding: 0px;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  transition: color 1s;
}

.checkbox-search:checked ~ button {
  left: 0px;
}

.checkbox-search:checked ~ .buscador i {
  background-color: white;
  color: #303028;
  visibility: visible;
  font-size: 1rem;
}

.checkbox-search:checked ~ .buscador input {
  visibility: visible;
  font-size: 0.9rem;
  width: 100%;
}

.checkbox-search:checked ~ .buscador {
  border: rgb(221, 218, 218) 0.5px solid;
  background-color: white;
  visibility: visible;
  width: 100%;
  height: 50px;
  padding: 15px 10px;
}
/* product */

.producto1 {
  border-bottom: dotted 1px silver;
  height: 50vh;
  margin-top: 120px;
}

.product {
  width: 65%;
  margin-left: 35%;
  height: 20vh;
  margin-top: 2%;
}

.foto_tacho {
  height: 20%;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 80%;
}

.tacho {
  display: flex;
  margin-right: 3.95vh;
  font-size: 60%;
  color: silver;
}

#foto1 {
  width: 25%;
  height: 20vh;
  float: left;
  margin-left: 6%;
}

.descripcion {
  height: 35%;
  margin-top: 1%;
  color: silver;
  font-size: 65%;
}

.cantidad_total {
  height: 20%;
  display: flex;
  font-size: 80%;
}

.precio_total {
  height: 45%;
  font-size: 80%;
}

.cantidad_precio {
  display: flex;
  justify-content: space-between;
}

.cantidad_total p {
  margin-top: -2%;
}

.menos {
  font-size: 1vh;
  padding-right: 1vh;
  padding-top: 0.4vh;
}

.mas {
  font-size: 1vh;
  padding-left: 1vh;
  padding-top: 0.4vh;
}

.precio_total {
  margin-right: 11%;
}

/* footer */

.total {
  display: flex;
  justify-content: space-between;
  font-size: 50%;
  height: 4vh;
  padding-top: 0.5%;
  margin-left: 5.8%;
}

#total-finalizar {
  font-size: 2vh;
}

.total p {
  font-size: 2vh;
  margin-right: 7%;
}

.footer {
  margin-top: 2%;
}

.button {
  color: white;
  background-color: black;
  border-radius: none;
  border: none;
  text-align: center;
  width: 89%;
  height: 5vh;
  margin-left: 5%;
}

@media (min-width: 361px) {
  #foto1 {
    height: 25vh;
  }
  .tacho {
    margin-right: 5.5vh;
  }
}
@media (min-width: 769px) {
  .titulo {
    margin-top: 1.5%;
    margin-left: 5.8%;
  }

  .cruz {
    margin-top: 1.5%;
    margin-right: 7%;
  }
  #foto1 {
    width: 17%;
    height: 45vh;
  }
  .product {
    width: 71%;
    margin-left: 25%;
    height: 30vh;
    margin-top: 2%;
  }
  .cantidad_precio {
    width: 96%;
  }
  .precio_total {
    margin-left: 89%;
  }
  .descripcion {
    font-size: 80%;
  }
  .button {
    width: 87.8%;
    margin-left: 5.8%;
  }
  .mas,
  .menos {
    padding-top: 0.8vh;
  }
}
