
main{
  margin-top: 110px;
  display: block;
}
.producto1 {
  display: flex;
  flex-wrap: wrap;
  
}

.product {
  width: 50%;
  padding-left: 5px;
}
.foto_tacho {
  display: flex;
  justify-content: space-between;
  margin-right: -30px;
}

h2 {
  font-size: 20px;
}

.tacho {
  display: flex;
  margin-right: 1.9499999999999993vh;
  margin-top: 2px;
  font-size: 70%;
  color: silver;
}

.fa-trash-alt{
  font-size: medium;
}
#tacho{
  border:none;
  margin-top: 1px;
  cursor: pointer;
}
#foto {
  width: 40%;
  padding: 2px;
 
}

.carrito-vacio{
  padding: 20px 30px;
  font-weight: bold;
  font-size: 1.6rem ;
  margin-bottom: 300px;
}

.descripcion {
  height: 35%;
  margin-top: 1%;
  color: silver;
  font-size: 65%;
}

.cantidad_total {
  height: 20%;
  display: flex;
  font-size: 80%;
  margin-top: -26px;
 margin-left: -51px;
}

.precio_total {
  height: 45%;
  font-size: 90%;
  margin-right: -12%;
}


.cantidad_precio {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  margin-left: 25%;
}

.cantidad_total p {
  padding: 4px;
  width: 55%;
  margin-top: 24px;
  margin-left: 10px;
  font-weight: bold;
}

/* .menos {
  font-size: 1vh;
  padding-right: 1vh;
  padding-top: 0.4vh;
}

.mas {
  font-size: 1vh;
  padding-left: 1vh;
  padding-top: 0.4vh;
} */

/* .precio_total {
  margin-right: 11%;
} */

/* footerCarrito */

.total {
  display: flex;
  justify-content: space-between;
  font-size: 50%;
  /* height: 4vh; */
  padding-top: 0.5%;
  margin-left: 5.8%;
  width: 90%;
  margin-right: 5.8%;
}

#total-finalizar{
  margin-left: -15px;
  font-size: 20px;
}

.total p {
  font-size: 20px;
  font-weight: bold;
}


.footerCarrito {
  padding: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.fa-plus{
  position: relative;
  width: 17px;
  height: 17px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #000000;
  margin-right: 5.8%;
  border-radius: 20%;

  /* Mittig */
  top: 50%;
  left: 50%;
 
}
/* .fa-plus:after{
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 6%;
  width: 50%;
  background: #000000;
  top: 50%;
  left: 50%;
}

.fa-plus:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000;
  height: 60%;
  width: 6%;
}
.fa-plus:hover:before,
.fa-plus:hover:after {
  background: #fff;
  transition: 0.2s;
} */

.fa-plus:hover {
  background-color: #000000;
  color: white;
  transition: 0.2s;
}



.fa-minus{
  position: relative;
  width: 17px;
  height: 17px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 20%;

  /* Mittig */
  top: 50%;
  
 
}
/* .fa-minus:after{
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 6%;
  width: 50%;
  background: #000000;
  top: 50%;
  left: 50%;
}

.fa-minus:before{
  content: '';
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  height: 50%;
  width: 4px;
}
.fa-minus:hover:before,
.fa-minus:hover:after {
  background: #fff;
  transition: 0.2s;
} */

.fa-minus:hover {
  background-color: #000000;
  color: white;
  transition: 0.2s;
}


.button {
  color: white;
  background-color: black;
  border-radius: none;
  border: none;
  text-align: center;
  width: 89%;
  height: 5vh;
  margin-left: 5%;
 
}
#finalizarCompra{
  background-color: #000000;
  color: #fff;
  width: 98%;
  margin: 3px;
  height: 32px;
  margin-top: 12px;
}

.precio_total p{
  font-weight: bold;
}
@media (min-width: 768px) {

main{
  padding-top: 22px;
}
h2 {
  font-size: 25px;
  
}

.foto_tacho{
  padding-top: 12px;
}
.fa-trash-alt {
  font-size: large;
}
#mas{
  width: 34px;
  height: 34px;
}
#menos{
  width: 34px;
  height: 34px;
}
.cantidad_total{
  font-size: 100%;
  margin-left: -95px;
    margin-top: -40px;

}

.cantidad_total p {
  padding: 1px;
  width: 55%;
  margin-top: 35px;
  margin-left: 17px;
 }
 #foto {
  width: 40%;
  padding: 5px;
}
.precio_total{
  margin-right: -10%;
  font-size: 15px;
}


#finalizarCompra{
  width: 100%;
  height: 34px;
  font-size: large;
}
#tacho {
  
  margin-right: -13px;
  font-size: x-large;
}

#total-finalizar {
  margin-left: -35px;
  font-size: 30px;
  margin-top: -5px;
}
#precio-finalizar{
  font-size: 30px;
}

}
@media (min-width: 1023px) {
 
  
  #mas{
    width: 44px;
    height: 44px;
  }
  #menos{
    width: 44px;
    height: 44px;
  }

  .precio_total p {
    font-weight: bold;
    margin-top: 3px;
    font-size: 25px;
    margin-right: -7px;
  }
  
  
  .product {
    width: 50%;
    padding-left: 85px;
  }

  .precio_total{
    font-size: 20px;
    
  }
  h2 {
    font-size: 30px;
    margin-left: -65px;  
  }

  .fa-trash-alt {
    font-size: xx-large;
    margin-right: -37px;
  }
  #finalizarCompra {
    height: 71px;
    width: 100%;
    margin-top: 20px;
    font-size: x-large;
    margin-top: 5px;
  }
  .total p {
    font-size: 25px;
    font-weight: bold;
}
#total-finalizar {
  margin-left: -47px;
  font-size: 35px;
}
.footerCarrito {
  padding: 2%;
  width: 100%;
}
#precio-finalizar{
  font-size: 32px;
    margin-top: -6px;
    margin-left: -62px;
    margin-right: -28px;
}

.cantidad_total{
  font-size: 100%;
  margin-left: -169px;
    margin-top: -40px;

}
#tacho {
  margin-right: -51px;
}

@media (min-width: 1517px){

  .product {
    padding-left: 232px;
  }
    h2 {
    font-size: 40px;
    margin-left: -222px;
  }
  .cantidad_total {
  margin-left: -353px;
}

#tacho {
  font-size: xx-large;
}

.cantidad_total p {
  
  margin-top: 46px;
}

#finalizarCompra {
margin-top: 34px;
}
#total-finalizar {
  margin-left: -71px;
  font-size: 35px;
}
}
}
