
main{
  margin-top: 140px;
  width: 100%;
  display:block;
}
body{
  width: 100%;
  display: block;
}

.imagenYdescripcion{
  display: contents;
  width: 50%;
  padding-left: 1px;
  padding-right: 1px ;
}

.productos{
  margin-top: 40px;
  width:100%;
  flex-wrap: wrap;
}



.foto {
 
  width: 100%;
}

h4, h6 {
  font-weight: 600;
  padding: 4px;
  padding-left: 10px;
}

h4{
  font-size: 80%;
  padding-top: 8px;
}

h4.error{
  font-size: 1.2rem;
  padding-bottom: 0px
}


h6{
  font-size: 65%;
}


/* @media (min-width:426px){
main{
  height: 40px;
}
.productos{
  margin-top: 12%;
}
} */


@media (min-width:428px) {
  h4{
    font-size: 20px;
  }
  h6{
    font-size: 15px;
  }

  h4.error{
    font-size: 1.3rem;
    padding-bottom: 0px
  }
  

.productos{
  margin-top: 40px;
  display:flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
} 
.foto {
  height: 85%;
}
    
    
    
.imagenYdescripcion{
   display: block;
   width: 50%;
   margin-bottom: 10%;
   padding-left: 2px;
  padding-right: 2px ;
}


}

@media (min-width:769px){

  .imagenYdescripcion{
    width: 25%;
    padding-left: 3px;
  padding-right: 3px ;
  margin-bottom: 10px;
  }
  .productos{
    margin-top: 40px;
  
    margin-bottom: 25px;
   
  } 
}