* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
 
}

main {
  margin-top: 130px;
  margin-bottom: 30px;
}
main h1{
    font-size: 36px;
    padding: 0 15px;
}

main h5{
    font-size: 18px;
    padding: 0 15px;
    margin-bottom: 30px;
}



main .create-form {
    padding: 0 15px;
}

main .checkbox{
    font-size: 13px;
    justify-content: space-between;
    display: flex;
}

main .control-formulario label{
    margin-bottom: 15px;
    display: block
}

main .control{
    box-sizing: border-box;
    width: 100%;
    padding: 7px 15px;
}

main .sr_button{
    padding: 2px 0;
    color: #000!important;
    font-weight: bolder;
}

main .button-log {
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    padding: 12px 30px;
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    background: #000;
    border: 1px solid #000;
    margin-top: 30px;
    
}

main .Policy{
    font-size: .85em;
    line-height: 1.5em;
    margin-top: 30px;
    max-width: 500px;
    opacity: 0.5;
}

main .tablet {
    font-family: 'Roboto', sans-serif;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

main .caja1{
    display: block;
    margin-top: 55px;

}
main .caja2{
    display: block;
    margin-top: 55px;

}

/*@media (max-width: 425px){
    .tablet {
        display: block;
        flex-wrap: wrap;
    }
}*/

