* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

main h6{
 font-weight: bold;
 font-size: 100%;
 margin-left: 10px;
 border-bottom: 25px;
align-items: stretch;
}



body {
  width: 100%;
  display:block;
}

main .lista li{
  font-size: 0.9rem;
  list-style: none;
  border-bottom: solid 20px black;
}


main .lista{
  margin: auto;
  color:black;
  text-align: center;
  line-height: 30px;
  animation: animacion 10s 0.5s infinite;
}






main{
  background-color: white;
    color: black;
   margin-bottom: 10px;
   margin-top: 150px;
}



main .fa-bars{
color: gray;
}

main h4{
  text-align:left;
  margin-left: 10px;
}

main barra{
  margin-left:42%;
  
}

main article p{
  margin-left: 10px;
  border-bottom:25px;
  align-items: stretch;
}
main .buzo{
  width:425px;
}

main label{
margin-left: 10px;
}

main select{
  margin-left: 10px;
  width: 80%;
  height: 20px;
  text-align: center;
}

main button{
    margin-left: 20px;
    margin-top: 10px;
    transition: all 400ms;
    width: 90%;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 30px;
    
   }
  
main button:hover{
        box-shadow: 0px 0px 1px 1px rgb(156, 154, 154);
        
   }



main .navegacion{
  list-style: none;

}
main .menu a{
  text-decoration:none ;
}
main .menu > li{
  display: relative;
  padding: 5px;
  list-style: none;
}
main .menu li:hover{
transition: all .3s;
}
main .submenu{
  opacity: 0;
  transition: 400ms;
  text-decoration: none;
  list-style: none;
  
}


main .menu:hover .submenu{
visibility: visible;
opacity: 1;
}

main descripcion {
    margin-bottom: 10px;
  }

main .color{
    margin-bottom: 10px;
}
main .talle{
    margin-bottom: 20px;
}

@media (min-width:426px) {
  

  
  
  
 main article {
  
    display: flex;
  }
 main  h4{
    text-align:right;
    margin-right: 10px;
  }
  
 main select{
    display: flex;
    width: 80%;
    height: 20px;
  text-align: center;
}

  
   
 main descripcion p{
     margin:10px 0px ;
   }

  main button{
    margin-left: 18px;
    margin-top: 10px;
    transition: all 400ms;
    width: 90%;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 30px;
    
   }

  main button:hover{
        box-shadow: 0px 0px 1px 1px rgb(156, 154, 154);
  }
main h4{
  text-align: start;
  font-size: 30px;
}


main .color{
    margin-top: 30px;
    margin-bottom: 30px;
     
 }
main .talle{
     margin-bottom: 30px;
     
 }
main button1{
     
border-top: solid black 1px;
border-bottom: black solid 1px;
margin-top: 0px;
margin-bottom: 0px;
 }

main button2{
    
border-top: solid black 1px;
border-bottom: black solid 1px;
margin-top: 0px;
margin-bottom: 0px;
}

main .buzo{
    width:50%;
    height: 50%;
}

main .submenu{
    text-align: ju;
}
main article p{
  margin-left: 10px;
  border-bottom:25px;
  align-items: stretch;
}

}